.text-column {
  width: 150px;
  height: auto;
}


.icon-column {
  width: 25px;
  text-align: center;
}

.try {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
}

.image-container {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.image-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.image-container2 img {
  max-width: 80%;
  max-height: 80%;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}

.button-container {
  margin-top: 10px; /* Ajusta este valor según tu necesidad */
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  flex: 1;
}

.login-form {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  max-width: 300px;
  width: 100%;
}

.submit-button {
  margin-top: 10px; /* Ajusta el valor según tu preferencia */
}

.error-message {
  color: red;
}
.logout-button {
  position: absolute;
  top: 10px;
  right: 10px;
    }

.truncate-text {
    display: inline-block;
    max-width: 80px; /* Número de caracteres antes de truncar */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

.table-container {
  margin: 0;
  padding: 0;
}
  
.table {
  margin: 0;
  padding: 0;
}